* {
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto-slab,non-serif";
  font-size: 10px;
}

.choose {
  color: #fff;
  font-size: clamp(3rem, 1.0000rem + 4.0000vw, 13rem);
  text-align: center;
}

.container {
  background-color: #494949;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 37.5vw;
  height: 70vh;
  right: 0.73vw;
  top: 15vh;
}
.selection {
  text-align: center;
  background-color: #494949;
  width: 30.1vw;
  height: 8vh;
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  transition: opacity 0.2s;
  font-size: clamp(2rem, 0.4rem + 3.2vw, 10rem);
  
}

.startButton {
  background-color: #34a639;
  box-shadow: 0px 4px 10px 5px #34a639;
  width: 14vw;
  height: 8.9vh;
  overflow: hidden;
  border-radius: 15px;
  color: #fff;
  font-size: clamp(2rem, 0.4rem + 3.2vw, 10rem);
  order: 1;
  width:clamp(80px, 14vw, 14vw);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
button:hover {
  opacity: 0.8;
}

.active {
  background-color: #34a639;
}
