* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--timer: #353537;
	--table-color: #494949;
	--font-color: #fff;
}

body {
	display: flex;
	background-image: url(src/image/bg-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center, center;
	background-attachment: fixed;
}

#app {
	display: flex;
	height: 100vh;
	width: 100vw;
	padding: 63px 32px;
}

/*LOGO*/

.logo:hover {
	cursor: pointer;
}

.logo {
	width: 27vw;
	height: 23.5vh;
}

/*TIMER*/

#timer {
	width: 151px;
	height: 151px;
	border-radius: 50%;
	background-color: var(--timer);
	line-height: 151px;
	text-align: center;
	color: var(--font-color);
	font-size: 48px;
}

/*HALL OF FAME*/

.wrapper {
	display: grid;
	/* position: relative; */
	grid-template-columns: 40px 1fr 2fr 1fr;
	grid-template-rows: repeat(7, 1fr);
	grid-template-areas:
		"header header header header"
		". place player answear";
	width: 60.5vw;
	height: 47vh;
	right: 5vw;
	top: 30vh;
	padding: 20px 28px;
	background-color: var(--table-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.ranking {
	display: flex;
	grid-area: header;
	text-align: center;
	justify-content: center;
	margin-bottom: 10px;
}

.ranking p {
	color: var(--font-color);
	padding: 20px;
	font-size: clamp(1.5rem, 2.2vw, 3rem);
	font-family: arial, sans-serif;
	text-transform: capitalize;
}

.wrapper > p {
	font-size: clamp(1.25rem, 1.86vw, 3rem);
	color: var(--font-color);
	text-align: left;
}

p:nth-child(1) {
	grid-area: place;
}

p:nth-child(2) {
	grid-area: player;
}

p:nth-child(3) {
	grid-area: answear;
}

/* MODAL WINDOW */

.modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #494949;
	border-radius: 15px;
	width: 80%;
	height: 90%;
	z-index: 2;
}

.btn {
	width: 60px;
	height: 60px;
	font-size: 4rem;
	display: block;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 20px;
	background-color: #353537;
	border: 2px solid white;
	outline: 8px solid #353537;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background-color: #8f8f94;
	outline: 8px solid #8f8f94;
}

.overlay {
	position: fixed;
	inset: 0;
	z-index: 1;
	background-color: #242425;
	filter: blur(13px);
	opacity: 0.7;
}

/* GameRules */
.rules {
	display: block;
	width: 85%;
	height: 100%;
	background-color: var(--table-color);
	margin: auto;
	border-radius: 15px;
	position: relative;
}
.header {
	width: 60%;
	height: 100px;
	background-color: var(--timer);
	border-radius: 15px;
	margin: 40px auto;
}
h1,
h2,
p {
	color: var(--font-color);
}
h2,
p {
	text-align: center;
	margin: 15px 150px;
}
h1 {
	text-align: center;
	line-height: 100px;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 20px;
}
.button {
	display: grid;
	place-items: center;
	width: 100px;
	height: 100px;
	background-color: var(--timer);
	border-radius: 50%;
}
.button:hover {
	cursor: pointer;
}

/*POSTER*/
.poster {
	position: absolute;
	width: 26vw;
	height: 70vh;
	border-radius: 15px;
	bottom: 10vh;
	left: 3vw;
}
