* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --timer: #353537;
  --table-color: #494949;
  --font-color: #fff;
}

body {
  background-image: url(src/image/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-rows: minmax(150px auto) 1fr;
  padding: 1.5rem;
}

/*TIMER*/

#timer {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  background-color: var(--timer);
  line-height: 151px;
  text-align: center;
  color: var(--font-color);
  font-size: 48px;
}

/* MODAL WINDOW */

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  border-radius: 15px;
  width: 80%;
  height: 90%;
  z-index: 1;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 4rem;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #353537;
  border: 2px solid white;
  outline: 8px solid #353537;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #8f8f94;
  outline: 8px solid #8f8f94;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #242425;
  filter: blur(13px);
  opacity: 0.7;
}

/* GameRules */
.header {
  width: 60%;
  height: 100px;
  background-color: var(--timer);
  border-radius: 15px;
  margin: 40px auto;
}

.showButton {
  width: 6vw;
  height: 12vh;
  display: grid;
  place-items: center;
  background-color: var(--timer);
  border-radius: 50%;
  cursor: pointer;
}

#HallOfFame {
  left: 18vw;
  width: 133px;
}
.quest-mark {
  width: 62px;
  height: 62px;
}
.hof-mark {
  width: 62px;
  height: 62px;
}

/*POSTER*/
.poster {
  height: 540px;
  border-radius: 10px;
}
/* menu */

.main-menu-and-logo {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

/*LOGO*/

.logo {
  height: 200px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.choose {
  color: var(--font-color);
  flex-basis: 100%;
  text-align: center;
  font-size: 2.5rem;
}
.selection {
  text-align: center;
  background-color: #494949;
  border-radius: 15px;
  color: var(--font-color);
  font-size: 1.75rem;
  padding: 10px 35px;
  transition: 0.3s;
}

.selection:hover {
  border-radius: 0;
}

.active {
  background-color: #34a639;
}

.gameWrapper {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 20px;
  align-items: center;
}

.poster-and-button {
  width: fit-content;
}

/*HALL OF FAME*/
.hof-and-start {
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hall-of-fame-wrapper {
  display: grid;
  grid-template-rows: min-content, 1fr;
  background-color: var(--table-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 2rem;
  color: var(--font-color);
}

.ranking-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.ranking-header > img {
  height: 90%;
}

.ranking-header > h2 {
  margin: 0;
  font-size: 4rem;
}

.ranking-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ranking-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: 900;
  font-size: 2.5rem;
}

.ranking-flex > li:not([class^="bold"]) {
  font-size: 1.5rem;
}

.ranking-flex > li {
  padding: 0.75rem;
}

.startButton {
  align-self: center;
  background-color: #34a639;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 35px;
  transition: 0.3s;
}
.startButton:hover {
  border-radius: 0;
}
/*GAME OVER WINDOW*/

.gameOverWindow {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #494949;
	border-radius: 15px;
	width: 80%;
	height: 90%;
}

.headerofGameOver {
	margin-top: 30px;
  color: white;
  text-align: center;
}

.headerofGameOver h1 {
	line-height: 60px;
}

.headerofGameOver p {
	font-size: 2rem;
}

.textCorrect {
  margin-top: 10px;
	font-weight: bold;
	color: #34A639;
}

.results { 
	display: grid;
	grid-template-columns: 1fr .5fr .6fr 1fr;
	grid-template-rows: 0.5fr 2fr;
	grid-template-areas: 
		"title1 title2 title3 title4"
		"inputField result result result";
  width: 90%;
  height: 50vh;
  margin: 5em auto auto auto;
}

.results span {
	color: white;
	font-size: 1.5rem;
	text-align: center;
}

.results > span:nth-child(1) {
	grid-area: title1;
  
}
.results > span:nth-child(2) {
	grid-area: title2;

}
.results > span:nth-child(3) {
	grid-area: title3;
}
.results > span:nth-child(4) {
	grid-area: title4;
}

.inputField {
	grid-area: inputField;
	margin: auto;
  color: white;
  text-align: center;
}

.labelForInput {
	font-size: 1.5rem;
}

.player-input {
    margin: 2em auto;
}

.player-input[type="text"] {
  font-size: .8em;
	border: none;
	background-color: #C4C4C4;
	padding: 8px 13px;
	width: 80%;
}
.submitButton { 
  background-color: #34A639;
	border: none;
  font-size: 1.5em;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0.5em;
}

.submitButton:hover {
	background-color: #39883d;
	cursor: pointer;
}

.answersTable {
	background-color: #b6dbb8;
	grid-area: result;
	overflow-y: auto;
}

.answerTableDiv{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.answerImage {
  border: 2px solid;
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.answerElement {
  max-width: 110px;
  align-self: center;
}