* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --timer: #353537;
  --table-color: #494949;
  --font-color: #fff;
  --answer-color: #c4c4c4;
}

body {
  display: flex;
  background-image: url(src/image/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 63px 32px;
}

/*LOGO*/

.logo:hover {
  cursor: pointer;
}

.logo {
  /* position: absolute;
  width: 28vw;
  height: 25vh;
  left: 3vw;
  top: 3vh; */

  /* width: 27vw;
	height: 23.5vh; */
  width: 27vw;
  height: 23.5vh;
}

/*TIMER*/

#timer {
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--timer);
  line-height: 100px;
  text-align: center;
  color: var(--font-color);
  font-size: 30px;
}

/*HALL OF FAME*/

.wrapper {
  display: grid;
  z-index: 3;
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
  /* position: relative; */
  grid-template-columns: 40px 1fr 2fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "header header header header"
    ". place player answear";
  width: 60.5vw;
  height: 47vh;
  right: 5vw;
  top: 30vh;
  padding: 20px 28px;
  background-color: var(--table-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.ranking {
  display: flex;
  grid-area: header;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.ranking p {
  color: var(--font-color);
  padding: 20px;
  font-size: clamp(1.5rem, 2.2vw, 3rem);
  font-family: arial, sans-serif;
  text-transform: capitalize;
}

.wrapper > p {
  font-size: clamp(1.25rem, 1.86vw, 3rem);
  color: var(--font-color);
  text-align: left;
}

p:nth-child(1) {
  grid-area: place;
}

p:nth-child(2) {
  grid-area: player;
}

p:nth-child(3) {
  grid-area: answear;
}

/* MODAL WINDOW */

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  border-radius: 15px;
  width: 80%;
  height: 90%;
  z-index: 2;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 4rem;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #353537;
  border: 2px solid white;
  outline: 8px solid #353537;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #8f8f94;
  outline: 8px solid #8f8f94;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #242425;
  filter: blur(13px);
  opacity: 0.7;
}

/* GameRules */
.rules {
  z-index: 3;
  display: block;
  width: 70%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
  position: relative;
}
.rules h1 {
  font-size: clamp(1.8rem, 2.5vw, 5rem);
  display: block;
  width: 85%;
  height: 100%;
  background-color: var(--table-color);
  margin: auto;
  border-radius: 15px;
  position: relative;
}
.header {
  width: 60%;
  height: 100px;
  background-color: var(--timer);
  border-radius: 15px;
  margin: 40px auto;
}
h1,
h2,
p {
  color: var(--font-color);
}
h2,
p {
  text-align: center;
  margin: 15px 150px;
}
h1 {
  text-align: center;
  line-height: 100px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

.showButton {
  position: absolute;
  bottom: 2vh;
  left: 10vw;
  width: 6vw;
  height: 12vh;
  display: grid;
  place-items: center;
  background-color: var(--timer);
  border-radius: 50%;
}

.showButton:hover {
  cursor: pointer;
}

#HallOfFame {
  left: 18vw;
  width: 6vw;
}
.quest-mark {
  width: 2vw;
  height: 5.5vh;
}
.hof-mark {
  width: 2.8vw;
  height: 5.5vh;
}
.button {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--timer);
  border-radius: 50%;
}
.button:hover {
  cursor: pointer;
}

/*POSTER*/
.poster {
  position: absolute;
  width: 26vw;
  height: 70vh;
  border-radius: 15px;
  bottom: 10vh;
  left: 3vw;
}

/*QUIZ-PAGE*/
.quiz-wrapper {
  display: grid;
  height: 80vh;
  width: 100%;
  grid-template-rows: 10vh 80vh;
  grid-gap: 5 vh;
}

.quiz-form {
  position: absolute;
  bottom: 20px;
  left: 90px;
  display: flex;
  justify-content: flex-end;
  width: 85vw;
  height: 60vh;
  flex-direction: column;
  display: block;
  justify-content: space-between;
  background-color: aquamarine;
}

.question-image {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photo-quiz {
  height: 75%;
  width: 70%;
  box-shadow: 2px 2px 5px #000;
  border-radius: 2vh;
}

ul.answer-list {
  display: grid;
  margin: -40vh 30vw;
  height: 30vh;
  width: 60%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2vh;
  /* background-color: chartreuse; */
  list-style: none;
}

.answer-list li {
  width: 80%;
  margin: 10px auto;
  background-color: var(--answer-color);
}

.answer-text {
  text-align: center;
  font-size: 24px;
  color: #000;
}

.wrong-answer {
  background-color: #ff0000;
}

.correct-answer {
  background-color: #41ed25;
}
