* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  --timer: #353537;
  --table-color: #494949;
  --font-color: #fff;
  --answer-color: #c4c4c4;
}

body {
  background-image: url(src/image/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  height: 100vh;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(150px auto) 1fr;
  padding: 1.2rem;
}

/*TIMER*/

#timer {
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--timer);
  line-height: 100px;
  text-align: center;
  color: var(--font-color);
  font-size: 30px;
}
/* MODAL WINDOW */

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  border-radius: 15px;
  width: 80%;
  height: 90%;
  z-index: 1;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 4rem;
  line-height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #353537;
  border: 2px solid white;
  outline: 8px solid #353537;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #8f8f94;
  outline: 8px solid #8f8f94;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: #242425;
  filter: blur(13px);
  opacity: 0.7;
}

/* GAME-RULES */

.rules {
  width: 70%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
  color: white;
  text-align: justify;
}
.rules h1 {
  text-align: center;
  line-height: 100px;
  font-size: 3rem;
  margin: 15px;
}

.rules h2,
h1 {
  text-align: center;
  font-size: 30px;
}
.rules h2,
p {
  margin: 15px 150px;
}

.rules p {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}
.header {
  width: 60%;
  height: 100px;
  background-color: var(--timer);
  border-radius: 15px;
  margin: 40px auto;
}

.showButton {
  align-self: center;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 35px;
  transition: 0.3s;
  background-color: var(--answer-color);
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.showButton:hover {
  border-radius: 0;
}
.quest-mark {
  width: 43px;
  height: 43px;
}
.hof-mark {
  width: 62px;
  height: 62px;
}
.button {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--timer);
  border-radius: 50%;
  cursor: pointer;
}

/*POSTER*/

.poster-and-button {
  width: 30vw;
  align-items: center;
}

.poster {
  display: block;
  height: 440px;
  margin: 0 auto;
  border-radius: 10px;
}
/* menu */

.main-menu-and-logo {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  max-height: 30vh;
}

/*LOGO*/

.logo {
  height: 200px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.choose {
  color: var(--font-color);
  flex-basis: 100%;
  text-align: center;
  font-size: 3rem;
}
.selection {
  text-align: center;
  background-color: #494949;
  border-radius: 15px;
  color: var(--font-color);
  font-size: 1.75rem;
  padding: 10px 35px;
  transition: 0.3s;
}

.selection:hover {
  border-radius: 0;
}

.active {
  background-color: #34a639;
}

.gameWrapper {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 20px;
}

/*HALL OF FAME*/
.hof-and-start {
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hall-of-fame-wrapper {
  display: grid;
  grid-template-rows: min-content, 1fr;
  background-color: var(--table-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 2rem;
  color: var(--font-color);
}

.ranking-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.ranking-header > img {
  height: 90%;
}

.ranking-header > h2 {
  margin: 0;
  font-size: 2.8rem;
}

.ranking-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ranking-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bold {
  font-weight: 900;
  font-size: 2.2rem;
}

.ranking-flex > li:not([class^="bold"]) {
  font-size: 1.4rem;
}

.ranking-flex > li {
  padding: 0.6rem;
}

.startButton {
  align-self: center;
  background-color: #34a639;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 35px;
  transition: 0.3s;
  cursor: pointer;
}
.startButton:hover {
  border-radius: 0;
}

/*QUIZ-PAGE*/

.quiz-form {
  position: absolute;
  bottom: 20px;
  left: 90px;
  width: 85vw;
  height: 60vh;
  flex-direction: column;
  display: block;
  justify-content: space-between;
}

.question-image {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quiz-question {
  flex-grow: 1;
  position: absolute;
  top: 60px;
  right: -15px;
  text-align: center;
  width: 50%;
  font-size: clamp(1.5rem, 2.2vw, 3rem);
  background-color: #353537;
  color: #fff;
}

#photo-quiz {
  height: 80%;
  max-width: 35vw;
  box-shadow: 2px 2px 5px #000;
  border-radius: 2vh;
  margin: 10px;
}

ul.answer-list {
  display: grid;
  margin: -40vh 30vw;
  height: 30vh;
  width: 60%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2vh;
  list-style: none;
}

.answer-text {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: var(--answer-color);
  cursor: pointer;
}

li.answer-text p {
  margin: 0 auto;
  font-size: clamp(1.5rem, 2.2vw, 2.6rem);
  line-height: 90px;
  color: #000;
}

.wrong-answer {
  background-color: #ff0000;
}

.correct-answer {
  background-color: #41ed25;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}
/*GAME OVER WINDOW*/

.gameOverWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #494949;
  border-radius: 15px;
  width: 80%;
  height: 90%;
}

.headerofGameOver {
  margin-top: 30px;
  color: white;
  text-align: center;
}

.headerofGameOver h1 {
  line-height: 60px;
}

.headerofGameOver p {
  font-size: 2rem;
}

.textCorrect {
  margin-top: 10px;
  font-weight: bold;
  color: #34a639;
}

.results {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.6fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas:
    "title1 title2 title3 title4"
    "inputField result result result";
  width: 90%;
  height: 50vh;
  margin: 5em auto auto auto;
}

.results span {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.results > span:nth-child(1) {
  grid-area: title1;
}
.results > span:nth-child(2) {
  grid-area: title2;
}
.results > span:nth-child(3) {
  grid-area: title3;
}
.results > span:nth-child(4) {
  grid-area: title4;
}

.inputField {
  grid-area: inputField;
  margin: auto;
  color: white;
  text-align: center;
}

.labelForInput {
  font-size: 1.5rem;
}

.player-input {
  margin: 2em auto;
}

.player-input[type="text"] {
  border: none;
  background-color: #C4C4C4;
  padding: 8px 13px;
  width: 80%;
}


.answersTable {
  grid-area: result;
  overflow-y: auto;
}

.answerTableDiv{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
}

.cpuAnswer,
.playerAnswer,
.totalAnswers {
  max-width: 10vw;
  margin-left: 20px;
  
}

.answerElement {
  width: 120px;
  color: #fff;
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 5px;
}

.submitButton { 
  background-color: #34A639;
    border: none;
  font-size: 1.5em;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0.5em;
}

.submitButton:hover {
    background-color: #39883d;
    cursor: pointer;
}
